{% extends 'base.html' %}

{% block title %}
  <title>О компании</title>
{% endblock title %}

{% block content %}
<h1>О компании</h1>

<div class="container mt-3">
    Наша компания была основана в 2005 году. Главным направление нашей деятельности является оптовая продажа пиломатериала  для строительства и ремонта. На протяжение более 6 лет мы предлагает своим Клиентам только добротные пиломатериалы из качественной древесины по разумным ценам, как на территории Республики Беларусь, так  и в Российской Федерации. На территории Российской Федерации мы имеем собственные производства по деревообработке. Благодаря этому,   мы контролируем качество производимой  продукции, начиная от валки леса и  до сортировки готовой древесины, а также  доставки ее на наши складские базы  в Москве, Смоленске,  Калининграде и Минске.
</div>
{% endblock content %}