{% extends 'base.html' %}

{% block title %}
  <title>Контакты</title>
{% endblock title %}

{% block content %}

<h1>Контакты</h1>

<div class="container mt-3">
    <p>По вопросам розничной и оптовой продажи пиломатериалов Вы можете обратиться к нашим менеджерам:</p>

    <p>Моб. телефон: <strong>+375 (29) 634 22 46, +375 (44) 559 33 33</strong></p>

    <p>E-mail: <strong>info@lipa.by</strong></p>

    <p>Наш склад:</p>
    <p>Минский район, агрогородок "Озерцо", ул.Центральная, 1а</p>

    <p>Время работы: вторник- суббота: 09.00 - 18.00</p>
    <p>Выходные: воскресенье, понедельник</p>
</div>

{% endblock content %}